/* CSS files add styling rules to your content */

body {
  font-family: 'Merriweather Sans', sans-serif;
  margin: 2em;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #e3f2b7;
  overflow: hidden;
  font-weight: bold;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left; 
  color: #111E1F;
  text-align: center;
  padding: 34px 36px;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  
  color: #48A9A6
}

p {
  font-family: 'Barlow', sans-serif;
  color: 
}


#calculator {
  background-color: #48A9A6 ;
  padding: 10px ;
  border: 1px solid #48A9A6;
}

button{
    height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:25%; 
    left:25%;
}

button2{
    height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
}
