/* CSS files add styling rules to your content */

body {
  font-family: 'Open Sans', sans-serif;
  margin: 2em;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #E6EBE0;
  overflow: hidden;
  font-weight: bold;
}

/* Style the links inside the navigation bar */
.topnav a {
 /* float: left; */
  color: #111E1F;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  
  color: #373fff;
}
#calculator {
  background-color: #cfc ;
  padding: 10px ;
  border: 1px solid green ;
}

button{
    height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:25%; 
    left:25%;
}

button2{
    height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
}
